---
import "../styles/global.css"
---

<html lang="en">
  <head>
    <title>{Astro.props.title}</title>
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👋</text></svg>"
    />
    <meta name="robots" content="follow, index" />
    <meta
      content="Programmer & hobbyist indie game developer."
      name="description"
    />
    <meta
      property="og:url"
      content={`https://ibra.github.io/${Astro.props.path}`}
    />
    <link rel="canonical" href={`https://ibra.github.io/${Astro.props.path}`} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Ibrahim Hisham" />
    <meta
      property="og:description"
      content="Programmer & hobbyist indie game developer."
    />
    <meta property="og:title" content={Astro.props.title} />
    <meta
      property="og:image"
      content="https://avatars.githubusercontent.com/u/61324615?v=4"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@IbrahDev" />
    <meta name="theme-color" content="#111827" />
    <meta name="twitter:title" content={Astro.props.title} />
    <meta
      property="twitter:description"
      content="Programmer & hobbyist indie game developer."
    />
    <meta
      property="twitter:image"
      content="https://avatars.githubusercontent.com/u/61324615?v=4"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-900">
    <div
      class={`flex min-h-full items-center justify-center py-${Astro.props.padding} px-4 sm:px-6 lg:px-8`}
    >
      <slot />
    </div>
  </body>
</html>
